{{ form_start(form) }}

     <ul class="tags" data-prototype="{{ form_widget(form.thePrices.vars.prototype)|e('html_attr') }}">
        {% for price in form.thePrices %}
            <li>{{ form_row(price.amountBergerac) }}</li>
        {% endfor %}
    </ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
