{% extends 'base.html.twig' %}

{% block title %}Réservation de salle{% endblock %}

{% block body %}
    <h1>Trouver une salle par nombre de personne</h1>


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {% if data %}
          {{ dump(data) }}  
          {{ dump(resultat) }}  
            {{ dump(date) }}  
          {# {{ (data.salles.name) }}  #}
    {% endif %}


    
{% endblock %}


